@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* //font-family: 'Roboto', sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300; */
    line-height: 1.4;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* Header Section */
header {
    position: sticky;
    top: 0px;
    background: #fff;

    margin-top: 10px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
}



nav {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav li a {
    text-decoration: none;
    padding-left: 10px;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    padding: 5px;
}

nav i {
    color: rgb(30, 128, 190);
}

nav ul li a:hover {
    border-bottom: 2px solid gold;
}

.quote {

    font-size: 20px;
    font-weight: 500;

    background-color: rgb(49, 112, 112);
    color: white;
    border-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;

    border-bottom: unset;
}


.logo {
    display: flex;
    gap: 10px;
    /* justify-content: space-evenly; */
    align-items: center;
}



.logo img {
    height: 40px;
}

.logoText {
    font-size: 25px;
    font-weight: 700;
}

.blogText {
    font-weight: 200;
    font-size: 20px;
    color: grey;
}

/* Hero Section CSS */
.hero {
    background-image: url(./Media/Rectangle\ 31.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    border-radius: 30px;
    /* margin:0px 50px 0px 50px; */
    margin: 0 10%;

    display: flex;
    align-items: center;
    justify-content: space-around;


}

.bigText {
    font-size: 35px;
    font-weight: 700;
    color: darkslategray;

    /* padding: 1px 0px; */

}

.text {
    margin-bottom: 20px;
}

.LeftHero img {
    height: 250px;
}

/* Search */

form {
    background: #fff;
    width: 400px;
    height: 40px;

    display: flex;
    border-radius: 15px;
}

form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    flex: 1;
    border: none;
    outline: line;
}

form button {

    font-weight: 700;
    background: darkslategray;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form .fa-search {
    align-self: center;
    padding: 10px 20px;
    color: darkseagreen;
}

.hashtags {
    color: grey;

    display: flex;
    /* justify-content: space-around; */
}

.rightHero ul {
    list-style-type: none;
}

.rightHero ul li {
    padding: 10px 20px;
}


/* Footer CSS */
footer {
    background-image: url(./Media/Rectangle\ 31.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1300px;
}

#footerPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}